body,div,p,input,button,a,
ul,li,ol,img {
	margin: 0;
	padding: 0;
}
button,input {
	outline: none;
	border: none;
	box-shadow: none;
}
body {
	padding: 32px;
}
/*ul {
	list-style: none;
}
*/
.wrap {
	margin: 24px 0;
}
.flex {
	display: flex;
}
.between {
	justify-content: space-between;
}
.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.infinite {
	animation-iteration-count: infinite;
}
.stop {
	animation-play-state: paused;
}
.ma-btn {
	border-radius: 4px;
	background: #53a5ec;
	color: #fff;
	font-size: 14px;
	padding: 0.8em 1.6em;
	user-select: none;
	-webkit-appearance: none;
	cursor: pointer;
}
.ma-btn.success {
	background: #5cb85c;
}
.ma-btn.warning {
	background: #f0ad4e;
}

